{% extends 'base.html.twig' %}

{% block title %}Editar Cliente{% endblock %}

{% block body %}
    <h1>Editar Cliente</h1>

    {{ include('cliente/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('cliente_index') }}"class="btn btn-secondary btn-sm">Voltar</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
