<form method="post" action="{{ path('conteiner_delete', {'id': conteiner.id}) }}" onsubmit="return confirm('Deseja realmente excluir?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conteiner.id) }}">
    <button class="btn btn-danger btn-sm">Deletar</button>
</form>
