{% extends 'base.html.twig' %}

{% block title %}Conteiner Novo{% endblock %}

{% block body %}
    <h1>Cadastro Novo Conteiner</h1>

    {{ include('conteiner/_form.html.twig') }}

    <a href="{{ path('conteiner_index') }}"class="btn btn-secondary btn-sm">Voltar</a>
{% endblock %}
